div {
    /* Ponemos un alto mínimo, por defecto es 0 */
    min-height: 200px;
    /* Dibujamos un borde para ver límites */
    border: 2px solid black;
  }
  
.header, .page, .footer {
    background: grey;
}

/* .menu, .content {
    /* Necesario para que los elementos estén en horizontal
    display: inline-block;
} */

img,
video,
object,
embed {
    max-width: 100%;
    height:auto;
}

.page{
    display: flex;
}
  
.menu {
    background: blue;
    width: 30%;
}
  
.content {
    background: lightgrey;
    width: 70%;
}