@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

/*Usamos root porque tiene más especificidad*/
:root {
    /*Agregamos un gradiente (135grados, color de 8 numeros con valor alfa transparente stock 0%, */
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298);
    --color-primary: #667eea;
    --color-secondary: #764ba2;
    --boton-padding: 20px 40px;
}

body{
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 90%;
    /*Centramos con margin 0 arriba y abajo y auto a los lados*/
    margin: 0 auto;
    /*Para que todos los elementos que se salgan del container se escondan*/
    overflow: hidden;
    /*Todos los elementos que tengan un container tendran un padding de 80px arriba y abajo*/
    padding: 80px 0;
    max-width: 1200px;
}

.subtitle {
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
}

.hero {
    /*Ocupe el 100% del alto del viewport*/
    height: 100vh;
    background-image:  var(--background), url('../assets/img-1.png');
    background-repeat: no-repeat;
    /*Para que abarque el 100% del contenedor*/
    background-size: cover;
    /*Para fingir el efecto paralax*/
    background-attachment: fixed;
    /*Para centrar el backgroud*/
    background-position: center;
    /*para posicionar la web*/
    position: relative;
}

.hero .container {
    padding: 0;
}

.nav {
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight: 700;
}

.nav-footer {
    font-weight: 300;
    justify-content: flex-start;
}

.nav-items {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    /*inherit: quiere decir que hereda el font weight de su padre*/
    font-weight: inherit;
}

.nav-items-select {
    border: 1px solid #fff;
}

.nav-items-footer {
    padding: 10px;
}

.hero-container {
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    color: #fff;
}

.hero-texts {
    width: 80%;
    /*Para que se centre un poquito más el texto en el centro*/
    margin-bottom: 50px;;
}

.hero-title {
    font-size: 3.2rem;
}

.hero-subtitle {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 15px 0;
}

.hero-button {
    /*Para desbloquear propiedades del block model*/
    display: inline-block;
    background: #fff;
    padding: var(--boton-padding);
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 30px;
}

.hero-wave {
    /*Para que se posicione absolutamente en su padre*/
    position: absolute;
    /*Para que se posicione en la posición de abajo*/
    bottom: 0;
    /*para que se vaya a la izquierda*/
    left: 0;
    width: 100%;
    /*La ubicación del wave y los pixeles que ocupa en el espacio en height*/
    height: 214px;
}

/* --- About --- */

.presentation {
    /*Porque ya estan los 100px del wave que cuentan como padding*/
    padding-top: 0;
    text-align: center;
}

.presentation-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    /*Para que no pierda resolución*/
    object-fit: cover;
    /*La perspectiva de la imagen es desde arriba y arregla la imagen*/
    object-position: top;
}

